/* template css */
.primary-color {
    color: $color-primary;
}

.primary-color-bg {
    background-color: $color-primary;
}

.secondary-color {
    color: $color-second;
}

.secondary-color-bg {
    background-color: $color-second;
}

.yellow-color {
    color: $color-yellow;
}

.yellow-color-bg {
    background-color: $color-yellow;
}

.bg-gold {
    background-color: gold !important;
}